<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find ctl_only)/ctl.yaml" />
  <rosparam command="load" file="$(find prop)/prop.yaml" />
  
  <node name="ctl_only" pkg="ctl_only" type="ctl_only" />
  <node name="fsm" pkg="fsm" type="fsm" />
  <node name="prop" pkg="prop" type="prop" />

</launch>
